aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
annotated-types==0.6.0
anyio==4.2.0
async-timeout==5.0.1
attrs==25.3.0
bcrypt==4.1.2
bidict==0.23.1
biosppy==2.2.3
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.7
colorzero==2.0
contourpy==1.2.1
cycler==0.12.1
exceptiongroup==1.2.0
fastapi==0.109.0
filelock==3.18.0
fonttools==4.51.0
frozenlist==1.6.0
fsspec==2025.3.2
gpiozero==2.0.1
h11==0.14.0
h5py==3.13.0
hashpumpy==1.2
idna==3.6
importlib-metadata==4.13.0
importlib-resources==5.13.0
Jinja2==3.1.3
joblib==1.5.0
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.9.0
mock==5.2.0
mpmath==1.3.0
multidict==6.4.3
mysql-connector-python==8.3.0
networkx==3.2.1
numpy==1.26.4
opencv-python==4.9.0.80
packaging==24.0
paho-mqtt==2.0.0
pandas==2.2.3
pillow==10.3.0
propcache==0.3.1
pycparser==2.22
pydantic==2.7.0
pydantic_core==2.18.1
pygame==2.6.1
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.6
pytz==2025.2
PyWavelets==1.6.0
requests==2.32.3
rktellolib==1.0.4
rpimotorlib==3.2
scikit-learn==1.6.1
scipy==1.13.1
shortuuid==1.0.13
six==1.16.0
sniffio==1.3.0
soundfile==0.13.1
starlette==0.35.1
sympy==1.14.0
threadpoolctl==3.6.0
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
typing_extensions==4.9.0
tzdata==2025.2
urllib3==2.4.0
uvicorn==0.26.0
websockets==12.0
wfdb==4.3.0
yarl==1.20.0
zipp==3.18.1
